* {
  text-decoration: none;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  margin-bottom: 32px;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.section-list {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 58px;
}

.section-body {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.Email {
  color: #FFF;
  font-size: 20px;
}

.Twitter {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.CV {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.Email-Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 12px;
}

.Twitter-Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 12px;
}

.CV-Section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 12px;
}

.buttonNew {
  border-radius: 8px;
  border: 1px solid #333131;
  display: flex;
  width: 290px;
  height: max-content;
  padding: 7px 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  color: #fff;
}

.buttonNew:hover {
  border-radius: 8px;
  background: #333131;
}

@media (max-width: 686px) {
  .section-list {
    flex-direction: column;
  }

  .section-header h1 {
    font-size: 20px;
    font-weight: 800;
  }

  .section-body p {
    font-size: 16px;
    font-weight: 200;
  }
  .Email{
    font-size: 16px;
    font-weight: 300;
  }
  .Twitter{
    font-size: 16px;
    font-weight: 300;
  }
  .CV{
    font-size: 16px;
    font-weight: 300;
  }
}