*{
  text-decoration: none;
  margin: 0%;
  box-sizing: border-box;
  padding: 0%;
}

.PortfolioWorkMain{
  display: flex;
  flex-direction: column;
  gap: 9rem;
}
.PortfolioWorkNegative{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.PortfolioWorkZero img{
  width: 500px;
  margin-left: 9rem;
}
.PortfolioWorkFirst{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.PortfolioWorkThird{
   color: #fff;
   font-size: 28px;
   font-weight: 300;
}
.PortfolioWorkFifth{
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  width: 35vw;
  margin-right: 9rem;
}
.PortfolioWorkFourth{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width:686px) {
  .PortfolioWorkNegative {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .PortfolioWorkZero img {
    display: flex;
    margin-right: 10rem;
    width: 400px;
    height: 169px;
  }

  .PortfolioWorkThird{
    font-size: 20px;
    font-weight: 800;
  }

  .PortfolioWorkFifth {
    width: 74vw;
    font-size: 12px;
    font-weight: 100;
  }
.PortfolioWorkFirst{
  margin-left: 9rem;
}
}
