* {
  text-decoration: none;
  margin: 0%;
}

.SlideMain {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.h5Text {
  color: #FFF;
  font-family: 'Marko One', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.SliderSecond {
  color: #FFF;
  font-family: 'Marko One', serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.SkillsMain {
  align-items: center;
  justify-content: center;
  grid-gap: 8px;
  display: grid;
  grid-template-columns: repeat(2, 278px);
  grid-template-rows: repeat(3, 40px);
}

.SkillGrid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.SkillRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 115px;
}

.Second {
  justify-content: start;
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 12px;

}

@media (max-width:360px) {

  .SkillsMain {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .SkillRow {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 2rem;
    gap: 76px;
    margin: 2rem;
  }

  .SkillGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .SkillImage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 67%;
  }
  .SkillName{
    font-size: 16px;
  }
  .Second{
    display: flex;
    justify-content: space-evenly;
    gap:4px;
  }
  .SliderSecond h1{
   font-size: 20px;
   font-weight: 800;
  }
  .h5Text{
    font-size: 16px;
    font-weight: 200;
  }
}