* {
  text-decoration: none;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  height: 72px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: 'Marko One', serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  position: sticky;
  top: 0;
  z-index: 10;
}

.Logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #FFF;
  font-family: 'Marko One';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 9rem;
}


.navcomp {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 10rem;
}

.navcomp ul {
  list-style: none;
  /* Remove the bullets */
}

.Work {
  color: #FFF;
}

.Contact {
  color: #FFF;
}

.navcomp li {
  color: #FFF;
  /* Set the text color to white */
  font-family: 'Inter', sans-serif;
  /* Make sure to enclose font names with spaces in single or double quotes */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.navcomp li :hover {
  color: #7A5CFE;
}

.active {
  display: flex !important;
}

.hamburger {
  display: none;
}

@media (max-width: 686px) {
  .hamburger {
    display: flex;
    margin-right: 20rem;
  }

  .navbar {
    width: 100vh;
  }

  .navcomp {
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: none;
    flex-direction: column;
    background: #191919;
    position: absolute;
    top: 72px;
    right: 0;
    align-items: center;
    justify-content: space-evenly;
    margin: 0rem 18rem 4rem 0rem;
    gap: 20px;
  }

  .navcomp li{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem 2rem;
  }

  .navbar.active {
    height: auto;
  }

  .hamburger.active {
    display: none;
  }

  .close.active {
    display: flex;
  }
  .Logo{
    margin-left: 0.5rem;
    gap: 1px;
  }
}