* {
  text-decoration: none;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.Footer-Main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 150px;
  padding-right: 150px;
  color: #FFF;
  z-index: 20;
}

.Inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 450px) {

  .Footer-Main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

   .Inner{
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .Txt {
    width: max-content;
    font-size: 20px;
    font-weight: 800;
  }

  .Icons {
    width: fit-content;
    gap: 16px;
  }

  /* .Icons a{
    width: 4px;
    height: 4px;
  } */

  .IconsFooter {
    width: 20px;
    height: 20px;
  }
}