* {
  text-decoration: none;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.Footer-Main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  margin-left: 5%;
  margin-right: 5%;
  padding: 56px 148px;
  color: #FFF;
  z-index: 20;
}

.Inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 686px) {

  .Footer-Main {
    width: max-content;
    margin-left: -119px;
    gap: 2rem;
    height: fit-content;
  }

  .Txt {
    width: max-content;
    font-size: 20px;
    font-weight: 800;
  }

  .Icons {
    width: fit-content;
    gap: 16px;
  }
  /* .Icons a{
    width: 4px;
    height: 4px;
  } */

  .IconsFooter{
    width: 20px;
    height: 20px;
  }
}