/* fonts.css */
/* @import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400&display=swap');

* {
  font-family: 'Lexend', sans-serif;
  background: #191919;
  text-decoration: none;
}

.default-button {
  border-radius: 8px;
  border: 1px solid #333131;
  display: flex;
  width: 290px;
  height: max-content;
  padding: 7px 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  color: #fff;
}

.default-button:hover {
  border-radius: 8px;
  background: #333131;
}

@media (max-width: 686px) {
  .default-button {
    width: max-content;
    height: max-content;
  }
}